<h2><%= @category.name %></h2>

<h4>There are currently <%= @category.posts.count %> posts in this category:</h4>

<ul>
  <% @category.posts.each do |post| %>
    <li> <%= link_to post.title, post_path(post) %></li>
  <% end %>  
</ul>